<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inventory.inventory.goods.dao.GoodsInfoMapper">
  <resultMap id="BaseResultMap" type="com.inventory.inventory.goods.model.GoodsInfo">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="goods_standard" jdbcType="VARCHAR" property="goodsStandard" />
    <result column="goods_address" jdbcType="VARCHAR" property="goodsAddress" />
    <result column="goods_img_url" jdbcType="VARCHAR" property="goodsImgUrl" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="create_operator" jdbcType="INTEGER" property="createOperator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_operator" jdbcType="INTEGER" property="updateOperator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    goods_id, goods_name, goods_standard, goods_address, goods_img_url, goods_price, 
    create_operator, create_time, update_operator, update_time
  </sql>

  <select id="dynamicQuery" resultMap="BaseResultMap">
    select
      <include refid="Base_Column_List" />
    from goods_info
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from goods_info
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inventory.inventory.goods.model.GoodsInfo">
    insert into goods_info (goods_id, goods_name, goods_standard, 
      goods_address, goods_img_url, goods_price, 
      create_operator, create_time, update_operator, 
      update_time)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR}, #{goodsStandard,jdbcType=VARCHAR}, 
      #{goodsAddress,jdbcType=VARCHAR}, #{goodsImgUrl,jdbcType=VARCHAR}, #{goodsPrice,jdbcType=DECIMAL}, 
      #{createOperator,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.inventory.inventory.goods.model.GoodsInfo">
    insert into goods_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="goodsStandard != null">
        goods_standard,
      </if>
      <if test="goodsAddress != null">
        goods_address,
      </if>
      <if test="goodsImgUrl != null">
        goods_img_url,
      </if>
      <if test="goodsPrice != null">
        goods_price,
      </if>
      <if test="createOperator != null">
        create_operator,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateOperator != null">
        update_operator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsStandard != null">
        #{goodsStandard,jdbcType=VARCHAR},
      </if>
      <if test="goodsAddress != null">
        #{goodsAddress,jdbcType=VARCHAR},
      </if>
      <if test="goodsImgUrl != null">
        #{goodsImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="createOperator != null">
        #{createOperator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        #{updateOperator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inventory.inventory.goods.model.GoodsInfo">
    update goods_info
    <set>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="goodsStandard != null">
        goods_standard = #{goodsStandard,jdbcType=VARCHAR},
      </if>
      <if test="goodsAddress != null">
        goods_address = #{goodsAddress,jdbcType=VARCHAR},
      </if>
      <if test="goodsImgUrl != null">
        goods_img_url = #{goodsImgUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsPrice != null">
        goods_price = #{goodsPrice,jdbcType=DECIMAL},
      </if>
      <if test="createOperator != null">
        create_operator = #{createOperator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null">
        update_operator = #{updateOperator,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inventory.inventory.goods.model.GoodsInfo">
    update goods_info
    set goods_name = #{goodsName,jdbcType=VARCHAR},
      goods_standard = #{goodsStandard,jdbcType=VARCHAR},
      goods_address = #{goodsAddress,jdbcType=VARCHAR},
      goods_img_url = #{goodsImgUrl,jdbcType=VARCHAR},
      goods_price = #{goodsPrice,jdbcType=DECIMAL},
      create_operator = #{createOperator,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_operator = #{updateOperator,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>